<div class="w3-container">
  <h1>新規登録</h1>

  <% if @contact.errors.present? %>
    エラーがあります。
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="w3-card-4">
    <div class="w3-container w3-teal">
      <h2>新しい連絡先</h2>
    </div>
    <form class="w3-container" action="contacts" method="post">
      <p>
        <label for="contact_name">名前</label>
        <input class="w3-input" type="text" name="name" id="contact_name" value="<%= @contact.name %>">
      </p>
      <p>
        <label for="contact_email">Email</label>
        <input class="w3-input" type="text" name="email" id="contact_email" value="<%= @contact.email %>">
      </p>
      <p>
        <input class="w3-btn w3-green" type="submit" value="登録">
      </p>
    </form>
  </div>

  <br>
  <footer>
    <a href="/">戻る</a>
  </footer>
</div>

