<div class="w3-container">
  <h1>新しい連絡先</h1>

  <% if @contact.errors.present? %>
    エラーがあります。
    <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <form action="contacts" method="post">
    <input type="text" name="name">
    <input type="text" name="email">
    <input type="submit">
  </form>
  
  <footer>
    <a href="/">戻る</a>
  </footer>
</div>

