<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/style.css">
  <title>連絡帳</title>
</head>
<body>
  <h1>連絡帳</h1>

  <% if @message %>
    <div class="message"><%= @message %></div>
  <% end %>
  <div>
    <a href="/contact_new">新しい連絡先</a>
  </div>

  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
      </tr>
    </thead>
    <tbody>
        <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.id %></td>
            <td><%= contact.name %></td>
          </tr>
        <% end %>
      </tbody>
  </table>

  <footer>
    <a href="about.html">このサービスについて</a>
    <p>今の時刻は：<%= @now %></p>
  </footer>
</body>
</html>