<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <title>連絡帳</title>
</head>
<body>
  <div class="w3-bar w3-teal">
    <a href="/" class="w3-bar-item w3-button">Home</a>
    <a href="/about" class="w3-bar-item w3-button">about</a>
  </div>
  <%= yield %>
</body>
</html>